 
 
 
:root {
    --meil-color:rgba(33, 33, 33, 1);
    --mail-color:#FFFFFF;
    --mel-color:rgba(117, 117, 117, 1);
}

body {
    font-family: sans-serif;
    background: #F5F5F5;;
    font-size: 14px;
    line-height: 1.62;
    letter-spacing: 0.02em;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*-----HEADER-----*/
.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.accent {
    color: #1b1c1e;
}

.heder {
    font-weight: 500;
    color: var(--meil-color)
}
.heder .link.current 
{color: #2196F3;}

.stadi{color:var(--meil-color)}
.stadi:hover,
.stadi:focus{color: #2196F3;}
.stadi:current

.header-mail {
    font-weight: 500;
    color: var(--meil-color)

}
.heder link :hover,
.heder link :focus {
    color: #2196F3;
}

.header-tel {
    font-weight: 500;
    color:var(--mel-color);
}

/*-----hero----*/


.hero {
    background-color: #060607;
}

.hero-zag {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 1)
}

.hero-but {
    background-color: #2196F3;
}

.hero-but {
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--mail-color)
}

/*--------section--------*/
.section-detel {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--meil-color);
}

.section-tekst {
    letter-spacing: 0.03em;
    color:var(--mel-color);

}

.section-diy {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--meil-color);

}

/*-----section-----*/
.section-comanda {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--meil-color);
}

.section-comandaimg {
    font-weight: 500;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--meil-color);
}

.section-comandaprof {
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--mel-color);
}

/*-------portfolio----*/
.button-aktiv {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--mail-color);
    cursor: pointer;
}

.button-aktiv {
    background-color: #398fba;
}

.button {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--meil-color);
}

.robotu-neim {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--meil-color);
}

.robotu-proekt {
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--mel-color);
}


/*------footer----*/
.footer {
    background-color: #060607;
}

.accent-footer {
    color:var(--mail-color);
}

.footer-web {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-maps {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--mail-color);

}

.footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}